*:not(dialog) {
    margin: 0;
    padding: 0;
}

::backdrop {
    background-image: linear-gradient(45deg,
            magenta,
            rebeccapurple,
            magenta,
            rebeccapurple);
    opacity: 0.65;
}

body {
    background-color: #666666;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}

h1 {
    color: white;
    text-shadow: 0 7px 0 rgba(102, 51, 153, .82);
    margin-bottom: 1rem;
    font-size: 3rem;
}

h2 {
    color: magenta;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .82);
    margin-bottom: 1rem;
}

p {
    color: white;
    text-shadow: 0 2px 0 rgba(102, 51, 153, .82);
    margin-bottom: 1rem;
    line-height: 1.5;
}

strong {
    font-weight: 900;
}

button {
    font-family: "Press Start 2P", system-ui;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    box-shadow: 0 7px 0 rgba(102, 51, 153, .52);
    padding: 1rem;
    border: none;
    background-color: rebeccapurple;
    color: white;
    border-radius: 10px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.col {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.small {
    font-size: .7rem;
    text-shadow: none;
}

a {
    text-decoration: none;
    color: white
}

hr {
    border-color: magenta;
    margin-block: 1rem;

}

a:visited,
a:active {
    color: white;
}

a:hover {
    color: magenta;
}

dialog {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, .42);
    font-size: 1rem;
    text-align: center;
    padding: 2rem;
    border: none;
    box-shadow: 0 0 30px 10px rgba(255, 255, 255, .52);
    z-index: 99;
    max-width: min(80%, 42rem);
}

#game-screen {
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.menu-img {
    max-width: min(90%, 10rem);
}

.points-container {
    z-index: 98;
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, .42);
    border: none;
    padding: .5rem .75rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
}

.points {
    font-size: 1.2rem;
}